<div class="col-md-4">
  <div class="row">
    <%= image_tag current_user.image %><br>
    <p><%= current_user.screen_name %></p><br>
    <p><%= current_user.name %></p><br>
    <p><%= current_user.location %></p><br>
    <p><%= current_user.description %></p><br>
  </div>
</div>
