<main>
	<div class="col m12" align="center" id="flash_notice">
		<br>
	</div>
	<% if current_user %>
	<div class="container">
		<div class="row">
			<div class="col m4">
				<ul class="collection">
					<li class="collection-item avatar">
		    		<%= image_tag current_user.image, class: "circle" %><br>
		    		<span class="title">
							<p>@<%= current_user.screen_name %></p>
						</span>
		    	<li class="collection-item"><%= current_user.name %></li>
		    	<li class="collection-item"><%= current_user.location %></li>
		    	<li class="collection-item"><%= current_user.description %></li>
					<li class="collection-item">Tweets: <%= current_user.tweet_count %></li>
					<li class="collection-item">Friends: <%= current_user.friends_count %></li>
					<li class="collection-item">Followers: <%= current_user.followers_count %></li>
				</ul>
		  </div>
			<div class="col m8">
				<div class="row">
					<%= form_for current_user, url: tweet_path do |f| %>
					<div class="input-field col m8">
						<textarea name="tweet" class="materialize-textarea" length="140"></textarea>
						<label for="tweet">What's happening?</label>
  					<button class="btn waves-effect waves-light blue lighten-1" type="submit" name="action">Submit</button>
						<% end %>
					</div>
				</div>
				<ul class="collection">
					<% current_user.home_timeline.each do |tweet| %>
						<li class="collection-item avatar"><%= image_tag tweet.user.profile_image_url, class: "circle" %>
						<span class="title"><%= tweet.user.name %>
							<span id="screen-name">
								<a href="<%= tweet.user.url %>">@<%= tweet.user.screen_name %></a>
							</span>
						</span>
						<p><%= tweet.text %></p>
						<% if tweet.favorited? %>
							<a href="#!" class="secondary-content"><i class="material-icons" ,id="favorited">grade</i></a>
						<% else %>
							<%= link_to favorite_path(tweet.id), method: :post, id: "favorite" do %>
								<i class="secondary-content material-icons mdi-inverse">grade</i>
							<% end %>
						<% end %>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<% else %>
		<%= render "layouts/guest_home" %>
	<% end %>
</main>
