<ul class="collection">
  <li class="collection-item avatar">
    <%= image_tag current_user.image, class: "circle" %><br>
    <span class="title">
      <p>@<%= current_user.screen_name %></p>
    </span>
  <li class="collection-item"><%= current_user.name %></li>
  <li class="collection-item"><%= current_user.location %></li>
  <li class="collection-item"><%= current_user.description %></li>
  <li class="collection-item">Tweets: <%= current_user.tweet_count %></li>
  <li class="collection-item">Friends: <%= current_user.friends_count %></li>
  <li class="collection-item">Followers: <%= current_user.followers_count %></li>
</ul>
